<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="d" data-role="header">
                <a data-role="button" data-transition="fade" href="/" data-icon="back" data-iconpos="left" class="ui-btn-left">
                    Back
                </a>
                <h3>
                    About
                </h3>
            </div>
            <div data-role="content" style="padding: 15px">
                <p>
                	eX-Opti is a multi-platform expense management system built on the cloud and hosted on Google App Engine. It can be accessed either through a PC or a mobile web browser or through telephony. 
                </p>
                <p>
                	It currently offers the following services:<br>
                	1) Adding new transaction entries.<br>
                	2) Retrieving analytics of previous spendings<br>
                	3) Making Transactions (waiting for ZAP API to complete implementation)<br>
                </p>
                <p>
                	It uses Kookoo API for telephony support and Google Charts API for displaying analytics.
                </p>
                <p>
                	To access the mobile telephony interface, call +91-4466949325
                </p>
                
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>