<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="c" data-role="header">
                <h3>
                    eX-Opti
                </h3>
                <a data-role="button" data-rel="back" data-transition="fade" href="/" data-icon="back" data-iconpos="left" class="ui-btn-left">
                    Back
                </a>
                <a data-role="button" data-transition="fade" href="/logout" data-icon="delete" data-iconpos="left" class="ui-btn-right">
                    Logout
                </a>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="/addentry/" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                                Add Entry
                            </a>
                        </li>
                        <li>
                            <a href="/analysis/" data-theme="" data-icon="">
                                Analysis
                            </a>
                        </li>
                        <li>
                            <a href="/transaction/" data-theme="" data-icon="">
                                Transaction
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="content" style="padding: 15px">
                <h3>
                    Expense Details
                </h3>
                <form action = "/addentry/" method="post" accept-charset="utf-8">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>
                            Category:
                        </legend>
                        <input name="category" id="radio2" value="food" type="radio" />
                        <label for="radio2">
                            Food
                        </label>
                        <input name="category" id="radio3" value="transport" type="radio" />
                        <label for="radio3">
                            Transport
                        </label>
                        <input name="category" id="radio4" value="shopping" type="radio" />
                        <label for="radio4">
                            Shopping
                        </label>
                        <input name="category" id="radio5" value="entertainment" type="radio" />
                        <label for="radio5">
                            Entertainment
                        </label>
                        <input name="category" id="radio6" value="healthcare" type="radio" />
                        <label for="radio6">
                            Healthcare
                        </label>
                        <input name="category" id="radio7" value="education" type="radio" />
                        <label for="radio7">
                            Education
                        </label>
                        <input name="category" id="radio8" value="others" type="radio" />
                        <label for="radio8">
                            Others
                        </label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput1">
                            Amount:
                        </label>
                        <input name="amount" id="textinput1" placeholder="" value="" type="number" />
                    </fieldset>
                </div>
                <input type="submit" data-icon="star" data-iconpos="left" value="Submit" />
            </div>
            </form>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>